#########################################################
# Visual Studio
#########################################################

.vs/
.vscode/

#########################################################
# Build
#########################################################

[Bb]in/
[Oo]bj/
Release/
Debug/

#########################################################
# User files
#########################################################

*.user
*.suo
*.userosscache
*.sln.docstates

#########################################################
# Rider
#########################################################

.idea/

#########################################################
# Logs
#########################################################

*.log

#########################################################
# Temporary files
#########################################################

*.tmp
*.temp

#########################################################
# NuGet
#########################################################

packages/
*.nupkg

#########################################################
# Windows
#########################################################

Thumbs.db
Desktop.ini

#########################################################
# Database backups
#########################################################

*.bak

#########################################################
# ZIP archives
#########################################################

*.zip

#########################################################
# Publish
#########################################################

publish/

#########################################################
# Test Results
#########################################################

TestResults/

#########################################################
# Generated documentation
#########################################################

Generated/

#########################################################
# Local settings
#########################################################

appsettings.Development.json